<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Kepler Online Learning</h1>
    <p class="lead text-muted">
     Breaking down learning barriers. We endeavour to inspire learners to think differently like Johhanes Kepler, Isaac Newton, Maxwell...   
    </p>
    <p>
      <a routerLink="/courses" class="btn btn-primary">Find your course..</a>
      <a routerLink="/register" class="btn btn-secondary">Register</a>
    </p>
  </div>
</section>
 <app-course></app-course> 